{% extends 'base.html' %}
{% block content %}
  {% if request.user.is_authenticated %}
    <div id="messageContainer">
      {% for message in messages %}
        <div>
          <span class="colorGrey">{{ message.created_at|date:"d.m.Y" }}</span>
          <span class="senderName"> {{ message.author.username }}: </span>
          <i>{{ message.text }}</i>
        </div>

        <div class="colorGrey" id="frontendMessage"></div>
      {% endfor %}
    </div>

    <script>
      async function sendMessage() {
        let currentUsername = "{{ request.user.username }}";
        let fd = new FormData()
        let token = '{{ csrf_token }}'
        const dateTime = getCurrentDateTime()
        fd.append('textmessage', messageField.value)
        fd.append('csrfmiddlewaretoken', token)
        try {
          messageContainer.innerHTML += `
                  <div id="deleteMessage">
                      <span class="colorGrey">${dateTime}</span>
                      <span class="senderName"> {{ request.user.username }}: </span>
                      <i>${messageField.value} </i>
                  </div>
                  `
          let response = await fetch('/chat/', {
            method: 'POST',
            body: fd
          })
          let json = await response.json();
          let mainMessage = json.fields.text;
          document.getElementById('deleteMessage').remove();
          messageContainer.innerHTML += `
                  <div>
                    <span class="colorGrey">${dateTime}</span>
                    <span class="senderName"> {{ request.user.username }}: </span>
                    <i>${messageField.value} </i>
                  </div>
                  `
        } catch (e) {
          console.log('An error occured', e)
        }
        messageField.value = '';
      }
      
      {% comment %} function showMainMessage(mainMessage) {
        let dateTime = getCurrentDateTime()
        return `
              <div>
                  <span class="colorGrey">[${dateTime}]</span> ${mainMessage.author_username}: <i>${mainMessage.text}</i>
              </div>
          `
      } {% endcomment %}
      
      function getCurrentDateTime() {
        const now = new Date()
        const dateStr = now.toLocaleDateString('de-DE', {
          year: 'numeric',
          month: '2-digit',
          day: '2-digit'
        })
        return `${dateStr}`
      }
    </script>

    <form onsubmit="sendMessage(); return false" method="post">
      {% csrf_token %}
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" name="textmessage" type="text" id="messageField" />
        <label class="mdl-textfield__label" for="messageField">Text...</label>
      </div>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored buttonHover">
        Send message
      </button>
    </form>
  {% else %}
    <h1>Not signed-in</h1>
    <p>
      You are not signed-in! <br />
      Please click <a href="/login/">here</a>
    </p>
  {% endif %}
{% endblock %}
